.postEditor {
    width: 95%;
    height: 90%;
    
    padding-left: 10px;
    margin: 5px;
}

.editor {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.liveView {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

textarea {
    width: 100%;
    height: 90%;
    font-size: medium;
}