.centered{
    margin-left: 50px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    height: 500px;
    width: 100vh;
}

.header{
    height: 80px;
    background-color: #b3e6ff;
    display: flex;
    align-items: center;
}

#logo{
    width: 150px;
    height: 60px;
    margin-left: 20px;
}

input {
  width: 350px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #cc9966
}

input:focus {
  border-color: #ffdd99
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}