.centered{
    text-align: center;
    vertical-align: middle;
    align-items: center;
    width: 100%;
}

.contents{
  width: 100%;
}

.header{
    height: 80px;
    background-color: #b3e6ff;
    display: flex;
    align-items: center;
}

#logo{
    width: 150px;
    height: 60px;
}

#center-logo {
    margin-top: 50px;
}

.input-row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

input {
  width: 350px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #cc9966
}

input:focus {
  border-color: #ffdd99
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

button {
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color:#f9f9f9;
    border: 1px solid #dcdcdc;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

button:hover {
    background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    background-color: #e9e9e9;
}

#signup-button {
    margin-bottom: 18px;
}