#username {
    font-weight: bold;
    margin-right: 5px;
    color: #005D83;
}

#date {
    color: rgba(0, 0, 0, 0.25);
}

.comment {
    margin: 10px 0 0 0;
    border-left: 1.5px solid #E0DEDE;
    padding: 5px;
    background-color:rgba(255, 255, 255, 0.5);
}

.child-comment {
    margin: 10px 0 0 25px;
    border-left: 1.5px solid #E0DEDE;
    padding: 5px;
    background-color:rgba(255, 255, 255, 0.5);
}

.comment-options a {
    color: #3E697A;
    margin-right: 5px;
    text-decoration: none;
    transition: color 0.1s linear;
}

.comment-options a:hover {
    color: #F9D127;
    transition: color 0.1s linear;
}

#comment-score {
    color: #3E697A;
    margin-right: 5px;
}