.label {
    width: 200px;
    height: 50px;
    text-align: center;
    margin: 20px;
    display: flex;
    border-radius: 5px;
}

.label > p {
    text-align: center;
    width: 100%;
}

.student {
    background-color: #A6D1DF;
}

.instructor {
    background-color: beige;
}