.container {
    border: 30px solid #A6D1DF;
    color: #9E7772;
    font-size: 1.2em;
    margin: 2.5% auto 2.5% auto;
    width: 70%;
}

.container h1 {
    margin: 2.5% 2.5% 2.5% 2.5%;
}

.container-title {
    text-align: center;
    border-bottom: 3px solid #9E7772;
    margin: auto 15%;
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0 15px 0;
    width: 100%;
}

.flex-row p {
    margin: 0 10px 0 0;
}

.flex-row input {
    width: 50%;
    height: 1.5em;
}

.flex-row textarea {
    border: 2px solid #CC9966;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    width: 50%;
}

.flex-row select {
    height: 2em;
}

.header {
    background: linear-gradient(#214cdb, #10309c);
}

.input {
    width: 100% !important;
    margin-bottom: 15px;
}

#next-button {
    background: #F9D127;
    color: #005D83;
}