label {
    display: block;
    font-weight: bold;
}

input {
    background-color: #def1ff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #214cdb;
}

.container {
    text-align: center;
}

.input {
    width: 25%;
}

.input-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputField {
    text-align: center;
    width: 100%;
}

#center-logo {
    margin-top: 50px;
}

#pwdRecover {
    display: block;
    font-size: 0.8em;
    margin-bottom: 18px;
    text-decoration: none;
}