.tag-section {
    position: relative;  
    width: 220px;
}

.tagList {
    border: 3px solid black;
    padding: 3px;
    margin: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 130%;
    max-height: 70vh;
}

.search {
    margin: 5px;
    width: 129px;
    background: white;
    border-color: black;

}

.filter-btn {
    position: relative;
    float: right;
    right: 4px;
}

.filter-btn:hover {
    background: #91d6e9;
}

.filter-dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.filter-dropdown-content {
    display: none;
    position: absolute;
    left: 70px;
    top: 5px;
    box-shadow: 2px 2px 5px grey;;
    z-index: 1;
}

.filter-dropdown-content button {
    padding: 5px;
    font-size: small;
    text-align: center;
    text-decoration: none;
    background: #91d6e9;
    border: 1px solid #429bc5;
    width: 65px;
    display: block;
}

.filter-dropdown-content button:hover {
    background: #66bcd4;
    cursor: pointer;
}

.filter-dropdown:hover .filter-dropdown-content {
    display: block;
}

.btn-primary {
    border-radius: 0;
    background-color: #1D7B99;
    padding-top: 0.5em;
}